@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&family=Raleway:wght@300&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* head section  */

a {
    text-decoration: none;
}

.fa-bars {
    visibility: hidden;
}

.header-1 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 35px;
    justify-content: space-between;
    transition: all 0.5s linear;
    position: relative;
}

.header-1.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #11101d;
}

#navbar {
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

#navbar i {
    margin-right: 8px;
}

#navbar a {
    padding: 40px;
    color: #fff;
    font-weight: bold;
}

#navbar a:hover {
    transition: all 0.3s ease;
    color: crimson;
}

.logo h1 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    color: #ff4a57;
}


/* home section  ---------------------------------------------------------------------*/

.home {
    position: relative;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    transition: all 0.5s linear;
}

.home .image img {
    width: 50%;
}

.image {
    position: relative;
    left: 20%;
    flex-basis: 50%;
    padding-right: 35px;
    align-items: center;
}

.text {
    position: relative;
    padding-left: 10px;
    align-items: center;
}

.text p {
    font-size: 20px;
    padding-bottom: 15px;
    color: #fff;
}

.text h4 {
    color: crimson;
    margin-bottom: 25px;
}

.text h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #fff;
}

.text button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    align-items: center;
}

.social {
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-left: -50px;
    margin-top: 15px;
}

.social a .fa {
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.social a .fa-facebook:hover {
    background: #4267B2;
    color: #fff;
    border: 1px solid #4267B2;
}

.social a .fa-instagram:hover {
    background: red;
    color: #fff;
    border: 1px solid red;
}

.social a .fa-twitter:hover {
    background: #00acee;
    color: #fff;
    border: 1px solid #00acee
}

.social a .fa-linkedin:hover {
    background: rgb(24, 76, 141);
    color: #fff;
    border: 1px solid rgb(24, 76, 141);
}

.social a .fa-youtube:hover {
    background: rgb(186, 15, 15);
    color: #fff;
    border: 1px solid rgb(186, 15, 15);
}


/* about section starts -----------------------------------------------------*/

.about {
    width: 100%;
    padding: 100px 0;
    transition: all 0.5s linear;
}

.about .left {
    width: 550px;
}

.about img {
    width: 430px;
    height: auto;
}

.about .left h2 {
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 25px;
    color: azure;
}

.about .left h1 {
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 25px;
    color: #fff;
}

.about .left p {
    color: azure;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

.about .left a {
    color: #fff;
    background-color: #11101d;
    border-radius: 15px;
    border: 1px solid #11101d;
    padding: 10px 15px;
}


/* skils start --------------------------------------------------------------------- */

.container {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
}

.skils h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 25px;
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.html {
    background: red;
    animation: html 1s linear forwards;
}

.css {
    background: yellow;
    animation: css 1s linear forwards;
}

.java {
    background: green;
    animation: java 1s linear forwards;
}

.php {
    background: violet;
    animation: php 1s linear forwards;
}

.mysql {
    background: orange;
    animation: mysql 1s linear forwards;
}

.python {
    background: yellow;
    animation: python 1s linear forwards;
}

.photo {
    background: yellow;
    animation: photo 1s linear forwards;
}

.html span {
    border: 1px solid red;
}

.css span {
    border: 1px solid yellow;
}

.java span {
    border: 1px solid green;
}

.php span {
    border: 1px solid violet;
}

.mysql span {
    border: 1px solid orange;
}

.python span {
    border: 1px solid yellow;
}

.photo span {
    border: 1px solid yellow;
}

@keyframes html {
    100% {
        width: 85%;
    }
}

@keyframes css {
    100% {
        width: 80%;
    }
}

@keyframes java {
    100% {
        width: 55%;
    }
}

@keyframes php {
    100% {
        width: 0%;
    }
}

@keyframes mysql {
    100% {
        width: 0%;
    }
}

@keyframes photo {
    100% {
        width: 80%;
    }
}

@keyframes python {
    100% {
        width: 0%;
    }
}


/* protfolio section starts-------------------------------- */

.protfolio {
    align-items: center;
    padding: 80px 20px;
    height: 100vh;
    width: 100%;
}

.protfolio h2 {
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 60px;
}

.card .fa {
    color: #ff4a57;
    border: 1px solid #ff4a57;
    padding: 8px 8px;
    border-radius: 5px;
}

.card i {
    margin-bottom: 25px;
    font-size: 28px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.card h4 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.card p {
    color: #fff;
}

.card p a {
    color: #fff;
}

.card {
    padding: 15px 15px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    flex-basis: 30%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    transition: all 0.5s ease-in;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
}

.card i:hover {
    border: 1px solid #ff4a57;
    background-color: #ff4a57;
    color: #fff;
}

.card:hover {
    border: 1px solid #ff4a57;
}


/* education section starts */

.education {
    align-items: center;
    padding: 80px 20px;
    height: 100vh;
    width: 100%;
}

.card-1 {
    padding: 40px;
    margin-bottom: 30px;
    background: #2d343e;
    border: 1px solid #2d343e;
    border-radius: 8px;
    flex-basis: 40%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    transition: all 0.5s ease-in;
    color: #fff;
}

.card-1 h3 {
    margin-bottom: 20px;
}

.card-1 h4 {
    margin-bottom: 15px;
}

.card-1 span {
    color: green;
}

.education h2 {
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 60px;
}


/* media query tags */